.body {
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}


.navbar {
	background-color: #0006;
	opacity: 0.9;
}

.navbar .navbar-nav {
	opacity: 2;
}


.jumbotron {
	background-image: url(img/forest.jpg);
	text-align: center;
	height: 770px;
	background-size: cover;
	margin-top:-100px;
	margin-bottom: 0px;
	
}
.jumbotron .display-4 {
	color: white;
	margin-top: 200px;
	
}
.jumbotron p {
	color: white;
	
}

.jumbotron hr {
	border-color: #FBFBFB;
	border-width: 3px;
	width: 150px;
	
}
.header {
	float: top;
	padding: 40px 0;
}

.carousel-item img {
	margin-top: -400px;
}
.carousel-control-next {
	margin-top: 60px;
}
.carousel-control-prev{
	margin-top: 60px;
}



.carousel-item .display-4 {
	margin-top: 1000px;
}
.carousel-item .btn {
	background-color: #19CFE3;
	border: none;
	border-radius: 23px;
	padding-right: 23px;
	padding-left: 23px;
}

.carousel-item hr {
	border-color: #FBFBFB;
	border-width: 3px;
	width: 150px;

}
.main {
	margin: 20px;
	padding: 20px;
	
}
.box2 {
	background-color: black;
	display: flex;
	padding: 50px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	float: left;
	
	
}

.box1 {
	background-color: red;
	display: flex;
	padding: 50px;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;
	float: right;
	
}


.footer {
	margin-top: 70px;
	background-color: red;
	float: bottom;
}
